@font-face {
  font-family: gilroyBold;
  src: url("./Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: gilroyLight;
  src: url("./Gilroy-Light.otf");
}

body,
html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: gilroyBold;
  background-color: #1D1D1D;

  #root {
    .app {
      .broadcast-container {
        .live-id {
          position: absolute;
          color: #AAA;
          right: 0;
          margin: 0.5rem;
        }
      }
      .home-menu {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        h1 {
          text-align: center;
          width: 50%;
          margin: auto;
          color: #AAA;
        }
        .btn-container {
          display: flex;
          margin: auto;
          width: 60%;
          justify-content: space-around;
          margin-top: 3rem;

          .home-btn {
            margin: auto;
            text-align: center;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 1.2rem;
            transition: 100ms;
            opacity: 0.7;

            .broadcast-icon {
              background-image: url("./images/video-solid.svg");
              background-size: 100% 100%;
              height: 5rem;
              width: 5rem;
              margin: auto;
              margin-bottom: 0.5rem;
            }
            .watch-icon {
              background-image: url("./images/tv-solid.svg");
              background-size: 100% 100%;
              height: 5rem;
              width: 5rem;
              margin: auto;
              margin-bottom: 0.5rem;
            }
          }
          .home-btn:hover {
            transform: scale(1.1);
            opacity: 1;
            filter: brightness(4);
          }
        }
      }
      .watch-container {
        .passkey-container {
          display: flex;
          flex-direction: column;
          color: #AAA;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      .webbcast-logo-container {
        height: fit-content;
        text-decoration: none;

        .webbcast-logo {
          height: 2rem;
          width: 2rem;
          background-image: url("./images/webbcastlogo.svg");
          background-size: 100% 100%;
        }

        .webbcast-name {
          color: #FFFFFF;
          font-size: 1.5rem;
        }

        .webbcast-name::after {
          content: 'Live';
          font-family: gilroyLight;
          font-size: 0.8rem;
          position: relative;
          top: 0.8rem;
          left: -0.8rem;
        }
      }

      .webbcast-bg {
        height: 32vw;
        width: 32vw;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.02;
        background-image: url("./images/webbcast-bg.svg");
        background-size: 100% 100%;
      }

      .video-container {
        height: 75vh;
        width: 70vw;
        top: 50%;
        left: 50%;
        background-color: #333333;
        border-radius: 20px;
        transform: translate(-50%,-50%);

        video.live-video {
          height: 100%;
          width: 100%;
          border-radius: 20px;
          object-fit: cover;
        }
      }

      button.initiate-action {
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        color: #FFFFFF;
        border: 2px solid;
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
        min-width: 10rem;
        width: fit-content;
      }

      button.initiate-action:hover {
        color: #1D1D1D;
        background: #FFFFFF;
      }
    }
  }
}
@media (orientation: portrait) {
  body,
  html {
    #root {

      .app {
        .home-menu {
          h1 {
            font-size: 2rem;
            margin-top: 2rem;
          }
          font-size: 1rem;
          .btn-container {
            width: 80%;
            .home-btn {
              .broadcast-icon {
                background-size: 50% 50% !important;
                background-repeat:no-repeat;
                background-position: center;
              }
              .watch-icon {
                background-size: 50% 50% !important;
                background-repeat:no-repeat;
                background-position: center;
              }
            }
          }
        }
        .video-container {
          width: 100vw;
        }
        .webbcast-bg {
          display: none;
        }
      }
    }
  }
}
